<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Kala Hotel | Phiếu thuê phòng</title>
    <meta name="description" th:attr="content=#{meta.description}" />
    <meta name="keywords" th:attr="content=#{meta.keywords}" />
</head>
<body>
	<div class="wrapper">
		<aside id="sidebar" class="expand vh-100 sticky-top">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a th:href="@{/room-category}">Kala Hotel</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item"><a th:href="@{/room-category}" class="sidebar-link"> <i class="lni lni-tab"></i> <span>Danh mục phòng</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/bill-for-rent}" class="sidebar-link"> <i class="lni lni-agenda"></i> <span>Phiếu thuê phòng</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/search}" class="sidebar-link"> <i class="lni lni-search-alt"></i> <span>Tra cứu phòng</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/reciept}" class="sidebar-link"> <i class="lni lni-postcard"></i> <span>Hóa đơn thanh toán</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/revenue}" class="sidebar-link active"> <i class="lni lni-target-revenue"></i> <span>Báo cáo doanh thu</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/authorization}" class="sidebar-link"> <i class="lni lni-users"></i> <span>Phân quyền tài khoản</span> </a></li>
                <li class="sidebar-item"><a th:href="@{/setting}" class="sidebar-link"> <i class="lni lni-cogs"></i> <span>Quy định</span> </a></li>
            </ul>
            <div class="sidebar-footer">
                <a th:href="@{/logout}" class="sidebar-link">
                    <i class="lni lni-exit"></i> <span>Đăng xuất</span>
                </a>
            </div>
        </aside>
 		<div class="main p-3 bg-white-1">
 			<div class="shadowCustom overflow-hidden rounded d-flex justify-content-between align-items-center mb-4 p-3 bg-white ">
 				<h1 style="margin: 0; font-size: 30px">Phiếu thuê phòng</h1>
            	<h1 style="margin: 0;">Xin chào,</h1>
 			</div>
 			<div class="container">
 				<div class="row">
 					<div class="col-7 h-100">
 						<div id="bill-rent-setting" class="h-100 rounded overflow-auto shadowCustom bg-white rounded-3 px-1">
 							<h1 class="p-2" style="font-size: 25px; margin-bottom: 5px">Thông tin phiếu thuê phòng</h1>
 							<form id="rentForm"  th:action="@{/bill-for-rents}"  onsubmit="return checkSubmit()" >
 								<input type="hidden" th:name="ACTION" th:value="INSERT_ROOMBILL"/>
 								<div class="mx-3">
 									<label for="label-room-category" class="form-label">Chọn phòng</label>
 									<select id="label-room-category" name="roomName" class="form-select" aria-label="Default select example" required>
 										<option value="" disabled selected>Chọn phòng của bạn</option>
 										<option th:each="room : ${listAvailableRooms}" th:value="${room.roomName}" th:text="${room.roomName}"></option>
 									</select>
 								</div>
 								<div class="mx-3">
 									<label for="dateRentTextField" class="form-label">Ngày thuê</label>
 									<input type="datetime-local" class="form-control" name="roomDateRent" id="dateRentTextField" th:value="${roomBill?.roomDateRent}" required>
 								</div>
 								<div class="mx-3">
 									<label for="dateReturnTextField" class="form-label">Ngày kết thúc</label>
 									<input type="datetime-local" class="form-control" name="roomDateReturn" id="dateReturnTextField" th:value="${roomBill?.roomDateReturn}" required>
 								</div>
 								<input type="submit" value="Thêm phiếu thuê" class="btn btn-info d-block m-3" onclick="return checkSubmit()">
 							</form>
 							
 						</div>
 						<div id="bill-rent-display" class="rounded overflow-auto shadowCustom bg-white rounded-3 px-1 mt-3">
 							<h1 class="p-2" style="font-size: 25px;">Danh sách phiếu thuê phòng</h1>
 							<div style="height: 200px; overflow: auto;">
 								<table class="table table-hover">
 									<thead>
 										<tr>
 											<th scope="col">STT</th>
 											<th scope="col">Phòng</th>
 											<th scope="col">Ngày thuê</th>
	                     					<th scope="col">Ngày trả</th>
	                     					<th scope="col">Tình trạng</th>
	                     					<th scope="col">Thao tác</th>
 										</tr>
 									</thead>

 									<tbody>
										<tr th:each="RentalReceipts, iterStat : ${listAllRoomBills}">
											<th scope="row" th:text="${iterStat.count}"></th>
											<td th:text="${RentalReceipts.corespondingRoom.roomName}"></td>
											<td th:text="${RentalReceipts.checkInDateTime}"></td>
											<td th:text="${RentalReceipts.checkOutDateTime}"></td>
											<td><span th:if="${RentalReceipts.paymentStatus == 0}">
													<i class="lni lni-close"
													style="color: red; font-weight: bold;"></i> Chưa thanh toán
											</span> <span th:if="${RentalReceipts.paymentStatus == -1}">
													<i class="lni lni-timer"
													style="color: orange; font-weight: bold;"></i> Chờ thanh
													toán
											</span> <span th:if="${RentalReceipts.paymentStatus =1}"> <i
													class="lni lni-checkmark"
													style="color: green; font-weight: bold;"></i> Đã thanh toán
											</span></td>
											<td>
												<button type="button" class="btn btn-info"
													data-bs-toggle="modal"
													th:data-bs-target="'#' + ${iterStat.count} + 'updateModalRoomCategory'">
													<i class="lni lni-pencil-alt"></i>
												</button> |
												<button type="button" class="btn btn-danger"
													data-bs-toggle="modal"
													th:data-bs-target="'#' + ${iterStat.count} + 'deleteModalRoomCategory'">
													<i class="lni lni-trash-can"></i>
												</button>
											</td>

											<td>
												<button data-bs-toggle="modal"
													th:data-bs-target="'#' + ${iterStat.count} + 'selectBillRoomCategory'"
													class="btn btn-secondary">
													<i class="lni lni-information"></i>
												</button> <!-- Chỉ hiển thị các nút nếu paymentStatus là 0 -->
												<div th:if="${RentalReceipts.paymentStatus == 0}">
													<button data-bs-toggle="modal"
														th:data-bs-target="'#' + ${iterStat.count} + 'updateBillRoomCategory'"
														class="btn btn-info">
														<i class="lni lni-pencil-alt"></i>
													</button>
													<button data-bs-toggle="modal"
														th:data-bs-target="'#' + ${iterStat.count} + 'deleteBillRoomCategory'"
														class="btn btn-danger">
														<i class="lni lni-trash-can"></i>
													</button>
												</div> 
										</tr>
										<tr th:each="RentalReceipts, iterStat : ${listAllRoomBills}">
											<!-- Modal Xóa Phiếu Thuê Phòng -->
											<div class="modal fade"
												th:id="${iterStat.count} + 'deleteModalRoomCategory'"
												tabindex="-1" aria-labelledby="deleteBillRoomLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5" id="deleteBillRoomLabel">Xóa
																thông tin phiếu thuê phòng</h1>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<p style="text-align: left">Bạn có chắc chắn muốn xóa
																phiếu thuê phòng này không?</p>
															<p
																style="color: red; font-weight: bold; text-align: left;"
																class="pt-2">Lưu ý: Nếu có khách hàng trong phiếu
																thuê phòng đó thì tất cả các khách hàng cũng sẽ bị xóa
																theo!</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Đóng</button>
															<a
																th:href="@{/bill-for-rents(ACTION='DELETE_ROOMBILL', rentalReceiptsId=${RentalReceipts.id}, roomId=${RentalReceipts.corespondingRoom.id})}"
																class="btn btn-danger">Xóa</a>
														</div>
													</div>
												</div>
											</div>
										</tr>
										
										<!-- Modals for each row -->
<!-- 										<tr th:each="RentalReceipts, iterStat : ${listAllRoomBills}">
											Modal Thông Tin Phiếu Thuê Phòng
											<div class="modal fade" th:id="${iterStat.count} + 'selectBillRoomCategory'"
												tabindex="-1" aria-labelledby="selectBillRoomLabel"
												aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<h1 class="modal-title fs-5" id="selectBillRoomLabel">Thông tin phiếu thuê phòng</h1>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<div class="mx-1" style="text-align: left;">
																<label for="label-room-name" class="form-label">Phòng</label>
																<input id="label-room-name" name="roomName" class="form-control" readonly
																	th:value="${RentalReceipts.corespondingRoom.roomName}">

																<label for="label-room-date" class="form-label">Ngày thuê</label> 
																<input id="label-room-date" name="roomDateRent"
																	class="form-control" readonly
																	th:value="${RentalReceipts.checkInDateTime}"> 
																	
																<label for="label-room-date-return" class="form-label">Ngày kết thúc</label> 
																<input id="label-room-date-return"
																	name="roomDateReturn" class="form-control" readonly
																	th:value="${RentalReceipts.checkOutDateTime}">
															</div>

															<div class="mx-1 my-3" style="text-align: left;">
																<p style="font-size: 20px; font-weight: bold;">Danh sách khách hàng</p>
																<p> Đơn giá 1 ngày dự tính: 
																	<span style="color: red; font-weight: bold;">[[${#numbers.formatDecimal(RentalReceipts.roomPriceForOneDay,
																		0, 'COMMA')}]]đ
																	</span>
																</p>
																<p class="text-end"> Số khách: 
																	<span th:text="${#lists.size(listCountCustomer)}">0</span> 
																	<span h:if="${RentalReceipts.paymentStatus == 0}">/
																		<span th:text="${requestScope.getMaxCustomerConstraint}"></span>
																	</span>
																</p>
															</div>

															<div class="mx-3 overflow-auto" style="height: 200px;">
																<table class="table table-hover">
																	<thead>
																		<tr>
																			<th scope="col">STT</th>
																			<th scope="col">Họ tên</th>
																			<th scope="col">Loại khách</th>
																			<th scope="col">Địa chỉ</th>
																			<th scope="col">CMND</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr
																			th:each="listCustomer, iterStatCust : ${listCustomer}"
																			th:if="${RentalReceipts.roomBillId == listCustomer.roomBillId}">
																			<th scope="row" th:text="${iterStatCust.index + 1}"></th>
																			<td th:text="${listCustomer.customerName}"></td>
																			<td><span
																				th:each="listTypeCustomer : ${listTypeCustomer}"
																				th:if="${listCustomer.typeCustomerId == listTypeCustomer.typeCustomerId}"
																				th:text="${listTypeCustomer.typeCustomerName}"></span>
																			</td>
																			<td th:text="${listCustomer.customerAddress}"></td>
																			<td th:text="${listCustomer.customerIdentityCode}"></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">Đóng</button>
														</div>
													</div>
												</div>
											</div>
										</tr> -->
										<div class="modal fade" id="selectBillRoomCategory"
											tabindex="-1" aria-labelledby="selectBillRoomLabel"
											aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="selectBillRoomLabel">Thông
															tin phiếu thuê phòng</h1>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<div class="mx-1" style="text-align: left;">
															<label for="label-room-name" class="form-label">Phòng</label>
															<input id="label-room-name" name="roomName"
																class="form-control" readonly value="Phòng 101">

															<label for="label-room-date" class="form-label">Ngày
																thuê</label> <input id="label-room-date" name="roomDateRent"
																class="form-control" readonly value="2024-08-25">

															<label for="label-room-date-return" class="form-label">Ngày
																kết thúc</label> <input id="label-room-date-return"
																name="roomDateReturn" class="form-control" readonly
																value="2024-08-30">
														</div>

														<div class="mx-1 my-3" style="text-align: left;">
															<p style="font-size: 20px; font-weight: bold;">Danh
																sách khách hàng</p>
															<p>
																Đơn giá 1 ngày dự tính: <span
																	style="color: red; font-weight: bold;">500,000đ</span>
															</p>
															<p class="text-end">
																Số khách: <span>2</span> / <span>4</span>
															</p>
														</div>

														<div class="mx-3 overflow-auto" style="height: 200px;">
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th scope="col">STT</th>
																		<th scope="col">Họ tên</th>
																		<th scope="col">Loại khách</th>
																		<th scope="col">Địa chỉ</th>
																		<th scope="col">CMND</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th scope="row">1</th>
																		<td>Nguyễn Văn A</td>
																		<td>Nội địa</td>
																		<td>Hà Nội</td>
																		<td>123456789</td>
																	</tr>
																	<tr>
																		<th scope="row">2</th>
																		<td>Trần Thị B</td>
																		<td>Nội địa</td>
																		<td>Đà Nẵng</td>
																		<td>987654321</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Đóng</button>
													</div>
												</div>
											</div>
										</div>

										<div class="modal fade" th:id="${j} + 'updateBillRoomCategory'" tabindex="-1"
											aria-labelledby="updateBillRoomLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="updateBillRoomLabel">Cập nhật thông tin phiếu thuê phòng</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<form action="@{/bill-for-rents}" onsubmit="return checkSubmitUpdate();">
															<input type="hidden" name="ACTION" value="UPDATE_ROOMBILL" /> 
															<input type="hidden" name="roomBillId" th:value="${RentalReceipts.roomBillId}" /> 
															<input type="hidden" name="oldRoomId" th:value="${RentalReceipts.roomId}" />
															<div class="mx-1" style="text-align: left;">
																<div class="mx-3">
																	<label for="label-room-category" class="form-label">Phòng</label>
																	<select id="label-room-category" name="newRoomId" class="form-select" aria-label="Default select example" required>
																		<option th:value="${RentalReceipts.corespondingRoom.roomId}" th:text="${RentalReceipts.corespondingRoom.roomName}" selected></option>
																		<th:block th:each="room : ${listAvailableRooms}">
																			<option th:value="${room.roomId}" th:text="${room.roomName}"></option>
																		</th:block>
																	</select>
																</div>
																<div class="mx-3">
																	<label for="dateRentTextFieldUpdate" class="form-label">Ngày thuê</label> 
																	<input type="datetime-local" th:value="${RentalReceipts.checkInDateTime}" 
																		class="form-control" name="roomDateRent"
																		th:id="${j} + 'dateRentTextFieldUpdate'" required>
																</div>
																<div class="mx-3">
																	<label for="dateReturnTextFieldUpdate" class="form-label">Ngày kết thúc</label> 
																	<input type="datetime-local" th:value="${RentalReceipts.checkOutDateTime}"
																		class="form-control" name="roomDateReturn"
																		th:id="${j} + 'dateReturnTextFieldUpdate'" required>
																</div>
															</div>
															<div class="mx-3 my-3" style="text-align: left;">
																<p style="font-size: 20px; font-weight: bold;">Danh sách khách hàng</p>
																<p> Đơn giá 1 ngày dự tính: 
																	<span style="color: red; font-weight: bold;">[[${#numbers.formatDecimal(roomBill.roomPriceDay,
																		0, 'COMMA')}]] đ
																	</span>
																</p>
																<div class="d-flex justify-content-between align-center">
																	<button type="button" class="btn btn-info" data-bs-dismiss="modal" data-bs-toggle="modal"
																		th:attr="data-bs-target='#{' + ${j} + 'insertCustomerCategory'}'">Thêm khách hàng</button>
																	<p> Số khách: 
																		<span th:text="${listCountCustomer.stream().filter(c -> c.roomBillId == roomBill.roomBillId).count()}"></span>
																		/<span th:text="${requestScope.getMaxCustomerConstraint}"></span>
																	</p>
																</div>
															</div>
															<div class="mx-3 overflow-auto" style="height: 200px;">
																<table class="table table-hover">
																	<thead>
																		<tr>
																			<th scope="col">STT</th>
																			<th scope="col">Họ tên</th>
																			<th scope="col">Loại khách</th>
																			<th scope="col">Địa chỉ</th>
																			<th scope="col">CMND</th>
																			<th scope="col">Thao tác</th>
																		</tr>
																	</thead>
																	<tbody>
																		<th:block
																			th:each="listCustomer, iterStat : ${listCustomer}"
																			th:if="${RentalReceipts.roomBillId == listCustomer.roomBillId}">
																			<tr>
																				<th scope="row" th:text="${iterStat.index + 1}"></th>
																				<td th:text="${listCustomer.customerName}"></td>
																				<td><span
																					th:each="listTypeCustomer : ${listTypeCustomer}"
																					th:if="${listCustomer.typeCustomerId == listTypeCustomer.typeCustomerId}"
																					th:text="${listTypeCustomer.typeCustomerName}"></span>
																				</td>
																				<td th:text="${listCustomer.customerAddress}"></td>
																				<td th:text="${listCustomer.customerIdentityCode}"></td>
																				<td>
																					<button type="button" data-bs-toggle="modal"
																						th:attr="data-bs-target='#{' + ${j} + ${iterStat.index} + 'updateCustomerCategory'}'"
																						class="btn btn-info">
																						<i class="lni lni-pencil-alt"></i>
																					</button> |
																					<button type="button" data-bs-toggle="modal"
																						th:attr="data-bs-target='#{' + ${j} + ${iterStat.index} + 'deleteCustomerCategory'}'"
																						class="btn btn-danger">
																						<i class="lni lni-trash-can"></i>
																					</button>
																				</td>
																			</tr>
																		</th:block>
																	</tbody>
																</table>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Đóng</button>
																<input type="submit" class="btn btn-info"
																	value="Cập nhật" />
																<script>
																	var input1 = document
																			.getElementById("[[${j}]]dateRentTextFieldUpdate").value;
																	var input2 = document
																			.getElementById("[[${j}]]dateReturnTextFieldUpdate").value;
																	var date1 = new Date(
																			input1);
																	var date2 = new Date(
																			input2);
																	document
																			.getElementById(
																					"[[${j}]]dateRentTextFieldUpdate")
																			.addEventListener(
																					"change",
																					function() {
																						input1 = this.value;
																						date1 = new Date(
																								input1);
																						input2 = document
																								.getElementById("[[${j}]]dateReturnTextFieldUpdate").value;
																						date2 = new Date(
																								input2);
																					});
																	document
																			.getElementById(
																					"[[${j}]]dateReturnTextFieldUpdate")
																			.addEventListener(
																					"change",
																					function() {
																						input2 = this.value;
																						date2 = new Date(
																								input2);
																						input1 = document
																								.getElementById("[[${j}]]dateRentTextFieldUpdate").value;
																						date1 = new Date(
																								input1);
																					});
																	function checkSubmitUpdate() {
																		if (date2
																				.getTime()
																				- date1
																						.getTime() <= 0) {
																			alert("Không thể cập nhật phiếu thuê phòng do ngày kết thúc nhỏ hơn ngày bắt đầu.");
																			return false;
																		}
																		return true;
																	}
																</script>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										
										    <!-- Modal Thêm khách hàng cho phòng -->	
										<div class="modal fade" id="modalInsertCustomer" tabindex="-1"
											aria-labelledby="insertCustomerLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="insertCustomerLabel"
															th:text="'Thêm khách hàng cho phòng ' + ${RentalReceipts.corespondingRoom.roomName}"></h1>
														<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<form th:action="@{/bill-for-rents}" method="post">
															<input type="hidden" name="ACTION" value="INSERT_CUSTOMER" /> 
															<input type="hidden" name="roomBillId" th:value="${RentalReceipts.roomBillId}" />
															<div class="mx-1" style="text-align: left;">
																<div class="m-3">
																	<label for="label-customer-name" class="form-label">Tên khách hàng</label> 
																	<input id="label-customer-name" name="customerName" class="form-control" value="" required>
																</div>
																<div class="m-3">
																	<label for="label-customer-address" class="form-label">Địa chỉ</label> 
																	<input id="label-customer-address" name="customerAddress" class="form-control" value="" required>
																</div>
																<div class="m-3">
																	<label for="label-customer-identity" class="form-label">CMND</label>
																	<input id="label-customer-identity" name="customerIdentityCode" class="form-control"
																		value="" required minlength="10" maxlength="12"
																		pattern="[0-9]*">
																</div>
																<div class="m-3">
																	<label for="kind-customerType" class="col-form-label">Loại khách</label> 
																	<select id="kind-customerType" class="form-select" name="typeCustomer">
																		<th:block th:each="typeCustomer : ${listTypeCustomer}">
																			<option th:value="${typeCustomer.typeCustomerId}"
																				th:text="${typeCustomer.typeCustomerName}">
																			</option>
																		</th:block>
																	</select>
																</div>
																<div class="my-3"></div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
																<input type="submit" class="btn btn-info" value="Thêm khách hàng" />
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div th:each="listCustomer : ${listCustomer}">
											<div th:if="${roomBill.roomBillId == listCustomer.roomBillId}">
												<div class="modal fade" th:id="'updateCustomerCategory' + ${listCustomer.customerId}"
													tabindex="-1" aria-labelledby="updateCustomerLabel"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="updateCustomerLabel">Cập nhật khách hàng</h1>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<form th:action="@{/bill-for-rents}" method="post">
																	<input type="hidden" name="ACTION" value="UPDATE_CUSTOMER" />
																	 <input type="hidden" name="roomBillId" th:value="${roomBill.roomBillId}" />
																	<input type="hidden" name="customerId" th:value="${listCustomer.customerId}" />
																	<div class="mx-1" style="text-align: left;">
																		<div class="m-3">
																			<label for="label-customer-name" class="form-label">Tên khách hàng</label> 
																			<input id="label-customer-name" name="customerName" class="form-control" th:value="${listCustomer.customerName}" required>
																		</div>
																		<div class="m-3">
																			<label for="label-customer-address" class="form-label">Địa chỉ</label> 
																			<input id="label-customer-address" name="customerAddress" class="form-control" th:value="${listCustomer.customerAddress}" required>
																		</div>
																		<div class="m-3">
																			<label for="label-customer-identity" class="form-label">CMND</label> 
																			<input id="label-customer-identity" name="customerIdentityCode" class="form-control"
																				th:value="${listCustomer.customerIdentityCode}"
																				required minlength="10" maxlength="12"
																				pattern="[0-9]*">
																		</div>
																		<div class="m-3">
																			<label for="kind-customerType" class="col-form-label">Loạikhách</label> 
																			<select id="kind-customerType" class="form-select" name="typeCustomerId">
																				<option th:each="typeCustomer : ${listTypeCustomer}"
																					th:value="${typeCustomer.typeCustomerId}"
																					th:text="${typeCustomer.typeCustomerName}"
																					th:selected="${listCustomer.typeCustomerId == typeCustomer.typeCustomerId}">
																				</option>
																			</select>
																		</div>
																		<div class="my-3"></div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
																		<input type="submit" class="btn btn-info" value="Cập nhật" />
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
											<!-- Modal xóa thông tin khách hàng -->
										<div class="modal fade" id="deleteCustomerCategory"
											tabindex="-1" aria-labelledby="deleteCustomerCategoryLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="deleteCustomerCategoryLabel" th:text="'Xóa thông tin khách hàng ' + ${listCustomer.customerName}"></h1>
														<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<p style="text-align: left" th:text="'Bạn có chắc chắn muốn xóa khách hàng ' + ${listCustomer.customerName} + '?'"></p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal" th:data-toggle="modal"
															th:data-target="#updateBillRoomCategory">Quaylại
														</button>
														<a th:href="@{/bill-for-rents(ACTION='DELETE_CUSTOMER', customerId=${listCustomer.customerId}, roomBillId=${roomBill.roomBillId})}"
															class="btn btn-danger">Xóa</a>
													</div>
												</div>
											</div>
										</div>

									</tbody>
 								</table>
 							</div>
 						</div>
 					</div>
					<div class="col-5">
						<div id="room-category-info"
							class="rounded overflow-auto shadowCustom bg-white rounded-3 px-1">
							<h1 class="p-3" style="font-size: 20px">Danh sách phòng</h1>
							<div style="height: 400px; overflow: auto;">
								<table class="table table-hover overflow-y">
									<thead>
										<tr>
											<th scope="col">STT</th>
											<th scope="col">Phòng</th>
											<th scope="col">Loại Phòng</th>
											<th scope="col">Đơn giá</th>
											<th scope="col">Ghi chú</th>
											<th scope="col">Tình trạng</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="room, iterStat : ${rooms}">
											<th scope="row" th:text="${iterStat.index + 1}">1</th>
											<td th:text="${room.roomName}"></td>
											<td th:text="${room.roomType.roomTypeName}"></td>
											<td th:text="${room.roomType.price}"></td>
											<td class="ghi-chu" th:attr="title=${room.note}"
												th:text="${room.note}"></td>
											<td th:if="${room.status == 1}"><i
												class="lni lni-close" style="color: red; font-weight: bold;"></i>
												Đã thuê
											</td>
											<td th:if="${room.status == 0}"><i
												class="lni lni-checkmark"
												style="color: green; font-weight: bold;"></i> Trống
											</td>
											<!-- Hiển thị trạng thái phòng: đã thuê hoặc trống -->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
 			</div>
 		</div>
	</div>
	
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const rentForm = document.getElementById("rentForm");

			// Kiểm tra sự tồn tại của form trước khi thêm sự kiện
			if (rentForm) {
				rentForm.addEventListener("submit", function(event) {
					if (!checkSubmit()) {
						event.preventDefault(); // Ngăn chặn form submit nếu validation không qua
					}
				});
			}
		}); 
		
/* 		document.getElementById("rentForm").addEventListener("submit", function(){
			alert('Form Submited');
		}) */

		function checkSubmit() {
			var checkInDate = document.getElementById("dateRentTextField").value;
			var checkOutDate = document.getElementById("dateReturnTextField").value;

			console.log("Check-in date: " + checkInDate);
			console.log("Check-out date: " + checkOutDate);

			if (!checkInDate || !checkOutDate) {
				alert("Vui lòng nhập đầy đủ ngày thuê và ngày trả.");
				return false;
			}

			if (new Date(checkInDate) >= new Date(checkOutDate)) {
				alert("Ngày trả phải sau ngày thuê.");
				return false;
			}

			return true;
		}
	</script>

</body>
</html>